*{
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color:#ccc;
    } 

nav {
    background:#333;
}

li {
    display:inline-block;
    padding: .5rem 1rem;
    }
    
h2{
    text-align: center;
    font-size: 1.2rem;
}

.active{
    background-color: #ccc;
    color : #333;
}

.carousel{
    margin:0;
    padding:100px;
    background-color:#ccc;
    border-top: #333;
}

.art{
    text-align:center;
    }
    
article {
    display:inline-block;
    padding: 20px;
    height: 30rem;
    width: 30%;
    background:#ccc;
    border:0;
}

h3{
    padding : 20px;
}
 
form{
    height: max;
    border-top : 5px solid black;
}

textarea, input{
    display:block;
    width : 80%;
    margin: 10px auto;
}
